.category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

.ant-tree-node-content-wrapper {
    display: flex !important;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.ant-tree-title {
    width: 100%;
    margin-right: 30px;
}

.category {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    width: 20% !important;
}

.ant-tree-treenode {
    width: 100%;
}

.ant-tree-node-selected {
    background-color: rgba(204, 204, 204, 0) !important;
}